@geroldkouakam:registry=https://npm.pkg.github.com/geroldkouakam
//npm.pkg.github.com/geroldkouakam:always-auth=true
//npm.pkg.github.com/geroldkouakam:username=geroldkouakam
//npm.pkg.github.com/geroldkouakam:_authToken=${NPM_TOKEN}

# @geroldkouakam:registry=https://npm.pkg.github.com/geroldkouakam
#//npm.pkg.github.com/:_authToken=${NPM_TOKEN}